@page "/admin/roles/edit/{roleId}"
@model TopLearn.Web.Pages.Admin.Roles.EditRoleModel
@inject IPermisionService _permissionService;
@{
    IEnumerable<Permission> permissions = _permissionService.GetPermissions();
    ViewData["Title"] = "ویرایش نقش";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">ویرایش نقش</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/admin/users/">لیست نقش ها</a></li>
                    <li class="breadcrumb-item active">ویرایش نقش</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">

        <form method="post">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">اطلاعات نقش</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">

                            <input type="hidden" asp-for="Role.Id"/>

                            <div class="form-group">
                                <label>عنوان نقش</label>
                                <input type="text" asp-for="Role.Title" class="form-control">
                                <span class="text-danger" asp-validation-for="Role.Title"></span>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">ویرایش</button>
                            </div>

                        </div>
                        <!-- /.card-body -->

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">دسترسی های نقش</h3>
                        </div>

                        <div class="card-body">

                            <ul class="px-3">
                                @foreach (Permission permission in permissions.Where(p => p.ParentId == null))
                                {
                                    <li>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"
                                                   value="@permission.Id" name="selectedPermissionsIds"
                                            @(_permissionService.HasRoleThisPermission(Model.Role.Id, permission.Id) ? "checked" : "")>
                                            @permission.Title
                                        </label>
                                    </li>

                                    @if (_permissionService.HasPermissionChildren(permission.Id))
                                    {
                                        <ul class="px-4">

                                            @foreach (Permission subPermission in permissions.Where(p => p.ParentId == permission.Id))
                                            {
                                                <li>
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               value="@subPermission.Id" name="selectedPermissionsIds"
                                                        @(_permissionService.HasRoleThisPermission(Model.Role.Id, subPermission.Id) ? "checked" : "")>
                                                        @subPermission.Title
                                                    </label>
                                                </li>

                                                @if (_permissionService.HasPermissionChildren(subPermission.Id))
                                                {
                                                    <ul class="px-4">

                                                        @foreach (Permission subPermission2 in permissions.Where(p => p.ParentId == subPermission.Id))
                                                        {
                                                            <li>
                                                                <label class="form-check-label">
                                                                    <input type="checkbox" class="form-check-input"
                                                                           value="@subPermission2.Id" name="selectedPermissionsIds"
                                                                    @(_permissionService.HasRoleThisPermission(Model.Role.Id, subPermission2.Id) ? "checked" : "")>
                                                                    @subPermission2.Title
                                                                </label>
                                                            </li>
                                                        }

                                                    </ul>
                                                }
                                            }

                                        </ul>
                                    }
                                }
                            </ul>

                        </div>

                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
