@page "/admin/users/"
@model TopLearn.Web.Pages.Admin.Users.UsersListModel
@inject IUserService _userService
@{
    ViewData["Title"] = "لیست کاربران";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">لیست کاربران</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a class="btn btn-success" href="/admin/create-user/">افزودن کاربر</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">لیست کاربران</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <form>
                            <div class="row mb-3">

                                <div class="col-2">
                                    <input name="take" type="number" class="form-control form-control-sm" placeholder="تعداد نمایش" />
                                </div>

                                <div class="col-4">
                                    <input name="userName" type="text" class="form-control form-control-sm" placeholder="نام کاربری">
                                </div>
                                <div class="col-4">
                                    <input name="email" type="text" class="form-control form-control-sm" placeholder="ایمیل">
                                </div>
                                <div class="col-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-info btn-sm">جستجو</button>
                                        </div>
                                        <div class="col-4">
                                            <a href="/admin/users" class="btn btn-sm btn-outline-dark">ریست</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr>
                                    <th>نام کاربری</th>
                                    <th>ایمیل</th>
                                    <th>وضعیت</th>
                                    <th>تاریخ ثبت نام</th>
                                    <th>دستورات</th>
                                </tr>
                            <tbody>
                                    @foreach (User user in Model.UsersViewModel.Users)
                                    {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td><span class="btn-sm @(user.IsActive ? "btn-success" : "btn-warning")">@(user.IsActive ? "فعال" : "غیر فعال")</span></td>
                                        <td>@user.RegisterDate.ToShamsi()</td>
                                        <td>
                                            <a href="/admin/edit-user/@user.Id/" class="btn btn-primary btn-sm">
                                                ویرایش
                                            </a>
                                            <a onclick="showSwal(@user.Id, '@user.UserName')" class="btn btn-danger btn-sm text-white">
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous @(!Model.UsersViewModel.HasPreviousPage ? "disabled" : "")" id="example1_previous">
                                    <a href="/admin/users?pageId=@(Model.UsersViewModel.CurrentPage - 1)" class="page-link">
                                        قبلی
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.UsersViewModel.PageCount; i++)
                                {
                                    <li class="paginate_button page-item @(Model.UsersViewModel.CurrentPage == i ? "active" : "")">
                                        <a href="/admin/users/?pageId=@i" class="page-link">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li class="paginate_button page-item next @(!Model.UsersViewModel.HasNextPage ? "disabled" : "")" id="example1_next">
                                    <a href="/admin/users?pageId=@(Model.UsersViewModel.CurrentPage + 1)" class="page-link">
                                        بعدی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</section>

@section Scripts {

    <script>

        const showSwal = (id, title) => {
            Swal.fire({
                title: `آیا از حذف <u>${title}</u> مطمئن هستید؟`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'حذف',
                cancelButtonText: 'لغو',
                // confirmButtonColor: '#dc3545',
                // cancelButtonColor: '#e0a800',
                focusConfirm: false,
                customClass: {
                    confirmButton: 'btn btn-outline-danger',
                    cancelButton: 'btn btn-outline-info mx-2',
                },
                buttonsStyling: false,
            }).then(result => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'get',
                        url: `/admin/delete-user/${id}`,
                        // success: function (response) {
                        //     Swal.fire({
                        //         title: 'نقش با موفقیت حذف شد',
                        //         icon: 'success'
                        //     })
                        // }
                    })
                }
            });
        }

        $(document).ready(function () {

            const deleteBtn = document.getElementById("deleteButton");
        })

    </script>

}