@using TopLearn.Core.DTOs.Question
@model ShowCourseQuestionsViewModel
@inject ICourseService _courseService;
@inject IOrderService _orderService;
@{
    bool showQuestions = true;
    bool isCourceFree = _courseService.IsCourseFree(Model.CourseId);
    ViewData["Title"] = "پرسش";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"> تاپ لرن </a></li>
            <li class="breadcrumb-item"><a href=""> پرسش و پاسخ </a></li>
            <li class="breadcrumb-item active" aria-current="page">  </li>
        </ul>
    </nav>
</div>


<div class="container">
    @if (!isCourceFree)
    {
        if (User.Identity.IsAuthenticated)
        {
            if (!_orderService.IsUserInCourse(User.Identity.Name, Model.CourseId))
            {
                <div class="alert alert-danger">
                    برای دیدن سوالات باید دوره را خریداری کنید.
                    <a href="/courses/@Model.CourseId">خرید دوره</a>
                </div>
                showQuestions = false;
            }
        }
        else
        {
            <div class="alert alert-danger">
                برای دیدن سوالات باید وارد سایت شوید.
                <a href="/login?returnUrl=/courses/@Model.CourseId/questions">ورود به سایت</a>
            </div>
            showQuestions = false;
        }
        
    }

    @if (showQuestions)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="panel">
                        <form id="filterForm" method="get" class="form-inline">
                            <input type="hidden" name="pageId" id="pageId" value="@ViewBag.PageId" />
                            <input type="text" name="filter" class="form-control" placeholder="عبارت را وارد کنید" value="@ViewBag.Filter" />
                            <button class="btn-sm btn-success" onclick="filter()">جستجو</button>
                        </form>
                    </div>
                    @if (Model.Qeustions.Count() > 0)
                    {
                        @foreach (var question in Model.Qeustions)
                        {
                            <div class="panel p-5">
                                <div class="panel-heading">
                                    <h1>
                                        <a href="@question.Id">
                                            @question.Title
                                        </a>
                                    </h1>
                                </div>
                                <div class="panel-footer">
                                    <img src="/UsersAvatars/@question.User.Avatar" style="max-width: 50px; border-radius: 20px;" />
                                    @question.User.UserName | @question.CreateDate.ToShamsi()
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">
                            پرسشی یافت نشد
                        </div>
                    }
                </div>

            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">

            <section class="terms-items">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
                            <a class="page-link" onclick="changePage(@ViewData["PageId"] - 1)" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="zmdi zmdi-chevron-right"></i></span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item"><a class="page-link" onclick="changePage(@i)" href="#">@i</a></li>
                        }
                        <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
                            <a class="page-link" onclick="changePage(@ViewData["PageId"] + 1)" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="zmdi zmdi-chevron-left"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    }
</div>




@section Scripts
{
    <script>

        function changePage(pageId) {
            $('#pageId').val(pageId);
            filter();
        }

        function filter() {
            $("#filterForm").submit();
        }

    </script>
}