@page "/admin/courses"
@using TopLearn.Core.DTOs.Course
@model TopLearn.Web.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "لیست دوره ها";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">لیست دوره ها</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a class="btn btn-success" href="/admin/create-course/">افزودن دوره</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">لیست دوره های سایت</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <form>
                            <div class="row mb-3">

                                <div class="col-2">
                                    <input name="take" type="number" class="form-control form-control-sm" placeholder="تعداد نمایش" />
                                </div>
                                <div class="col-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-info btn-sm">جستجو</button>
                                        </div>
                                        <div class="col-4">
                                            <a href="/admin/users" class="btn btn-sm btn-outline-dark">ریست</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr>
                                    <th>تصویر دوره</th>
                                    <th>عنوان دوره</th>
                                    <th>تعداد جلسات</th>
                                    <th>دستورات</th>
                                </tr>
                            <tbody>
                                @foreach (CourseViewModel course in Model.CoursesViewModel.Courses)
                                    {
                                    <tr>
                                        <td><img src="/courses/thumbnails/@course.ImageName" /></td>
                                        <td>@course.Title</td>
                                        <td>@course.EpisodeCount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous @(!Model.CoursesViewModel.HasPreviousPage ? "disabled" : "")">
                                    <a href="/admin/courses?pageId=@(Model.CoursesViewModel.CurrentPage - 1)" class="page-link">
                                        قبلی
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.CoursesViewModel.PageCount; i++)
                                {
                                    <li class="paginate_button page-item @(Model.CoursesViewModel.CurrentPage == i ? "active" : "")">
                                        <a href="/admin/courses?pageId=@i" class="page-link">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li class="paginate_button page-item next @(!Model.CoursesViewModel.HasNextPage ? "disabled" : "")">
                                    <a href="/admin/courses?pageId=@(Model.CoursesViewModel.CurrentPage + 1)" class="page-link">
                                        بعدی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</section>
